@use "spacings";

.sign-up-page {
  width: 364px;
  box-sizing: border-box;
  flex-grow: 1;
  padding: 0 32px;

  @media (max-width: spacings.$media-mobile-screen) {
    width: 100%;
  }

  &__title {
    font-size: 3rem;
    margin-bottom: 40px;
    word-break: break-word;

    @media (max-width: spacings.$media-mobile-screen) {
      font-size: 2rem;
    }
  }

  &__next {
    display: block;
    margin-top: 20px;
  }

  &__separator {
    background-color: #292929;
    margin-top: 32px;
    height: 1px;
  }

  &__password {
    margin-top: 10px;
    display: block;
  }

  &__login {
    margin-top: 32px;
    text-align: center;
    color: var(--color-white-subdued);
  }
}
