@font-face {
  font-family: "Avenir Next";
  src: url("assets/fonts/AvenirNextCyr-Medium.woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Avenir Next Bold";
  src: url("assets/fonts/AvenirNextCyr-Bold.ttf");
  font-style: bold;
  font-weight: bold;
}

@font-face {
  font-family: "Avenir Next Demi";
  src: url("assets/fonts/AvenirNextCyr-Demi.ttf");
  font-weight: 500;
}