:root {
    --white: #fff;
    --grey: #b3b3b3;
    --black: #000;
    --light-grey: #777777;
    --dark-grey: #282828;
    --blackish: #121212;
    --green: #1ed760;
    --green-pressed: #169c46;
    --green-highlight: #3be477;
    --highlight: #f6f6f6;
    --text-negative: #ed2c3f;
    --essential-negative:  #c91123;
    --dark-background: #1f1f1f;
    --dark-background-highlighted: #2a2a2a;
}
