:root {
    --color-black: #000000;
    --color-white: #ffffff;
    --color-white-pressed: #c7c7c7;
    --color-white-subdued: #b7b7b7;
    --color-green: #1ed760;
    --color-green-highlight: #3be477;
    --color-green-press: #1abc54;
    --shadow-subdued: #7c7c7c;
    --color-red-error: #f3727f;
    --color-red-border-error: #ed2c3f;
    --background-base: #121212;
}
